# Environnements virtuels
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs
*.log

# IDE / éditeurs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# pip
pip-log.txt
pip-delete-this-directory.txt

# Jupyter
.ipynb_checkpoints/

# Heuristic tables 
heuristics/